In [1]:
rent=3500
gas=1000
grocery=1200
print(rent)

3500

In [2]:
total=rent+gas+grocery
print(total)

5700

In [4]:
rent=2000
item="rent"
item1="gas"
item2="grocery"
print("My toatl expences are" ,item,item1,item2)

My toatl expences are rent gas grocery

In [5]:
#numbers
12+78

90

In [6]:
35%3

2

In [10]:
nydistance=1200
naor=2089
totdi=nydistance+naor
totdi

3289

In [11]:
mph=80
time=totdi/mph
time

41.1125

In [12]:
round(time,2)

41.11

In [13]:
round(time,0)

41.0

In [14]:
name="kristine karimi"
name[7]

'e'

In [15]:
num=12+45
num

57

In [16]:
items=["bread","pasta","fruits","vegetables"]
items

['bread', 'pasta', 'fruits', 'vegetables']

In [18]:
items[-1]

'vegetables'

In [19]:
items[0]="chips"
items

['chips', 'pasta', 'fruits', 'vegetables']

In [21]:
items[0:2]

['chips', 'pasta']

In [28]:
items1=['cofee',"tea" ,"soda","milk"]
items1

['cofee', 'tea', 'soda', 'milk']

In [29]:
items1.append("alcohol")
items1

['cofee', 'tea', 'soda', 'milk', 'alcohol']

In [30]:
items1.insert(1,"coco")
items1

['cofee', 'coco', 'tea', 'soda', 'milk', 'alcohol']

In [31]:
food=["bread" ,"pasta","fruits","ceraels"]
bathroom=["shampoo" ,"soap"]
item2=food+bathroom
item2

['bread', 'pasta', 'fruits', 'ceraels', 'shampoo', 'soap']

In [33]:
len(item2)

6

In [34]:
#how to read items ina list
"bread" in item2

True

In [35]:
'soda ' in item2

False

In [ ]:
num=input("Enter a number")
num=int(num)
if num%2==0:
    print("the number is even")
else:
        print("the number is a odd  u")

In [ ]:
indian=["samosa" ,"daal","naan"]
chinese=["egg","pot","fried rice"]
Italian=["pizza","pasta",'risto']
dish=input("Your your dish")
if dish in indian:
    print("the dish is indian")
elif dish in chinese:
    print("the dish is chinese")
elif dish in italian:
    print("the dish is italian")
else:
    print("limited info ")

In [ ]:
indian=["samosa" ,"daal","naan"]
chinese=["egg","pot","fried rice"]
Italian=["pizza","pasta",'risto']
dish=input("Your your dish")
if dish in indian:
    print("the dish is indian")
elif dish in chinese:
    print("the dish is chinese")
elif dish in italian:
    print("the dish is italian")
else:
    print("limited info ")